.login {
    position: absolute;
    right: 0;
    width: 280px;
    background: rgba(0, 0, 0, 0.61);
    height: 100%;
    text-align: center;
    padding: 60px 20px 20px 20px;
}

.login input {
    width: 100%;
    display: block;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
}

.login form button {
    border: 0;
    background: #ec743b;
    color: white;
    font-size: 20px;
    padding: 4px 20px;
    line-height: 30px;
    border-radius: 5px;
}

.switch {
    width: 100%;
    background: white;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
}

.loggedIn {
    position: absolute;
    right: 0;
    width: 280px;
    background: rgba(0, 0, 0, 0.61);
    height: 100%;
    text-align: center;
    padding: 60px 20px 20px 20px;
}

.loggedIn p {
    margin: 0;
    color: white;
    word-break: break-word;
}

.loaders {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 9999;
}

.loader-tadpole
	{
        width: 64px;
        height: 64px;
        border-radius: 100%;
        position: relative;
    }
	
	.loader-tadpole:before
		{
            content: '';
            position: absolute;
            width: 64px;
            height: 64px;
            border-radius: 100%;
            color: #323b04;
            box-shadow: inset -5px 0 0 5px currentColor;
            clip: rect(0, 64px, 32px, 0);
            animation: tadpole 1s infinite linear;
        }
    
        @keyframes mymove {
            from {top: 0px;}
            to {top: 200px;}
        }
        

@keyframes tadpole {
    0%   {
        transform: rotate(-180deg);
		box-shadow: inset -5px 0 0 5px currentColor;
    }
    50% {
        transform: rotate(0);
		box-shadow: inset -1px 0 0 1px currentColor;
    }
	100% {
        transform: rotate(180deg);
		box-shadow: inset -5px 0 0 5px currentColor;
    }
}
	
	